<h1>Add a New Artist </h1>

<!-- make form for new artist with appropriate fields -->
<!-- use instance variable for @artist instead for making object Artist.new -->
<%= form_for(@artist) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image_path %>
  <%= f.text_field :image_path %>

  <%= f.submit "Create Artist" %>
<% end %>
